<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <title>{{meta_title}}</title>
    {{! Document Settings }}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    {{! Responsive Meta Tags }}
    <!-- own stylesheet for general stuff -->
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <!-- other used items -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<main class="{{body_class}}" style="background-image:url('{{asset "bgpattern.png"}}')">

<div class="container-fluid">
<!-- main navigation -->
{{navigation}}

{{#is "index, home"}}
{{#if @site.cover_image}}
    <div class="d-none d-sm-block d-md-block d-lg-block tag_head_wrap">
        <div class="tag_heading_home text-center" style="background-image: url({{@site.cover_image}}); background-repeat: no-repeat; background-size: cover;">
        </div>
  </div>
{{else}}
    <div class="main-content-head"></div>
{{/if}}
{{/is}}

{{#is "tag"}}
    <div class="d-block d-sm-block d-md-block d-lg-block tag_head_wrap">
        {{#tag}}
        <div class="tag_heading text-center" style="{{#if feature_image}}background-image: url({{img_url feature_image}}) !important; {{else}} background-image: url({{asset "images/fallback-image.jpg"}});{{/if}}">
        <p class="posttitle">{{name}}</p>
        </div>
        {{/tag}}
    </div>
{{/is}}

{{#is "post, page"}}
  {{#post}}
    {{#if feature_image}}
        <div class="d-block d-sm-block d-md-block d-lg-block tag_head_wrap">
          <div class="tag_heading tag_heading_post text-center" style="background-image: url( {{img_url feature_image}});">
          </div>
        </div>
    {{else}}
        <div class="main-content-head"></div>
    {{/if}}
  {{/post}}
{{/is}}

       {{{body}}}


<footer class="page-footer"  style="background-image:url('{{asset "bgpattern.png"}}')">
      <div class="top-socials">
          <a href="{{@site.url}}/rss" target="_blank"><i class="fas fa-rss"></i></a>
          {{#if @site.facebook}}
            <a href="{{facebook_url @site.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
          {{/if}}
          {{#if @site.twitter}}
            <a href="{{twitter_url @site.twitter}}" target="_blank"><i class="fab fa-twitter" ></i></a>
          {{/if}}  
    </div>
    {{> 'ui/footer'}}
</footer>

</div><!-- container fluid END! -->
</main>


<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Lalezar', 'Caudex', 'Libre Franklin:500']
    }
  });
</script>
    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>
{{ghost_foot}}
</html>
